.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode a{
  color: white;
}
main {
  flex: 1;
  padding: 20px;
  margin-top: 13px;
}
#searchResult{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 10px;
  width: 100%;

  
}
#searchResult img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid black;
}
a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
}
#loadMore{
  display: none;
  margin-left: 50%;
  font-size: 20px;
  color: yellow;
  background-color: black;
  cursor: pointer;
  height: 30px;
}
#loadMore:hover{
  color: white;
}
@media(min-width:760px){
  #searchResult{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }
  main{
    margin-top: 80px;
  }
  .sidebar{
    margin-top: 102px;
  }
}
