.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1;
    margin-top: 66px;;
  }
  .sidebar.sidebar.open ul{
    display: none;
  }
  
  .sidebar.open {
    width: 40px;
    background-color: white;
  }
  .menu-icon {
    padding: 15px;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    background-color: #444;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: start;
    cursor: pointer;
    border-bottom: 1px solid #444;
  }
  
  .sidebar ul li:hover {
    background-color: #555;
  }
  
  .main-content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .main-content.open {
    margin-left: 25px;
  }
  @media(max-width:768px){
    .sidebar{
      margin-top: 150px;
      width: 60px
    }
    .sidebar.open ul{

      width: 8px;
      display: none;
    }
    .main-content{
      margin-left: 43px;
      margin-top: 130px;
    }
  }
  @media(max-width:480px){
    .sidebar{
      font-size: 11px;
      background-color:#333 ;
    }
    .sidebar.open{
   background-color: white;
    }
  }